/* Dracula */
:root {
  --sh-comment: #6272a4;
  --sh-keyword: #ff79c6;
  --sh-string: #f1fa8c;
  --sh-number: #bd93f9;
  --sh-regex: #f1fa8c;
  --sh-function: #50fa7b;
  --sh-class: #8be9fd;
  --sh-variable: #f8f8f2;
  --sh-identifier: #f8f8f2;
  --sh-constant: #bd93f9;
  --sh-property: #50fa7b;
  --sh-parameter: #ffb86c;
  --sh-operator: #ff79c6;
  --sh-punctuation: #f8f8f2;
  --sh-decorator: #ffb86c;
  --sh-boolean: #bd93f9;
  --sh-null: #bd93f9;
}
::highlight(sh-comment) {
  color: var(--sh-comment);
}
::highlight(sh-keyword) {
  color: var(--sh-keyword);
}
::highlight(sh-string) {
  color: var(--sh-string);
}
::highlight(sh-number) {
  color: var(--sh-number);
}
::highlight(sh-regex) {
  color: var(--sh-regex);
}
::highlight(sh-function) {
  color: var(--sh-function);
}
::highlight(sh-class) {
  color: var(--sh-class);
}
::highlight(sh-variable) {
  color: var(--sh-variable);
}
::highlight(sh-identifier) {
  color: var(--sh-identifier);
}
::highlight(sh-constant) {
  color: var(--sh-constant);
}
::highlight(sh-property) {
  color: var(--sh-property);
}
::highlight(sh-parameter) {
  color: var(--sh-parameter);
}
::highlight(sh-operator) {
  color: var(--sh-operator);
}
::highlight(sh-punctuation) {
  color: var(--sh-punctuation);
}
::highlight(sh-decorator) {
  color: var(--sh-decorator);
}
::highlight(sh-boolean) {
  color: var(--sh-boolean);
}
::highlight(sh-null) {
  color: var(--sh-null);
}
