/* Dracula */
@import "./shared.css";

:root {
  --sh-comment: #6272a4;
  --sh-keyword: #ff79c6;
  --sh-control: #bd93f9;
  --sh-string: #f1fa8c;
  --sh-number: #bd93f9;
  --sh-regex: #f1fa8c;
  --sh-function: #50fa7b;
  --sh-method: #65fa8a;
  --sh-class: #8be9fd;
  --sh-variable: #f8f8f2;
  --sh-identifier: #f8f8f2;
  --sh-constant: #bd93f9;
  --sh-property: #50fa7b;
  --sh-key: #8be9fd;
  --sh-parameter: #ffb86c;
  --sh-operator: #ff79c6;
  --sh-punctuation: #f8f8f2;
  --sh-decorator: #ffb86c;
  --sh-boolean: #bd93f9;
  --sh-null: #bd93f9;
}
