/* GitHub Light — primer light */
@import "./shared.css";

:root {
  --sh-comment: #6e7781;
  --sh-keyword: #cf222e;
  --sh-string: #0a3069;
  --sh-number: #0550ae;
  --sh-regex: #116329;
  --sh-function: #8250df;
  --sh-class: #953800;
  --sh-variable: #24292f;
  --sh-identifier: #24292f;
  --sh-constant: #0550ae;
  --sh-property: #116329;
  --sh-key: #953800;
  --sh-parameter: #953800;
  --sh-operator: #0550ae;
  --sh-punctuation: #24292f;
  --sh-decorator: #953800;
  --sh-boolean: #0550ae;
  --sh-null: #0550ae;
}
