/* Gruvbox Dark */
@import "./shared.css";

:root {
  --sh-comment: #928374;
  --sh-keyword: #fb4934;
  --sh-control: #fb6958;
  --sh-string: #b8bb26;
  --sh-number: #d3869b;
  --sh-regex: #b8bb26;
  --sh-function: #fabd2f;
  --sh-method: #fac447;
  --sh-class: #8ec07c;
  --sh-variable: #ebdbb2;
  --sh-identifier: #ebdbb2;
  --sh-constant: #d3869b;
  --sh-property: #83a598;
  --sh-key: #83a598;
  --sh-parameter: #fe8019;
  --sh-operator: #fb4934;
  --sh-punctuation: #ebdbb2;
  --sh-decorator: #fe8019;
  --sh-boolean: #d3869b;
  --sh-null: #d3869b;
}
