/* Nord — arctic */
@import "./shared.css";

:root {
  --sh-comment: #616e88;
  --sh-keyword: #81a1c1;
  --sh-control: #97b1cc;
  --sh-string: #a3be8c;
  --sh-number: #b48ead;
  --sh-regex: #a3be8c;
  --sh-function: #88c0d0;
  --sh-method: #96c7d5;
  --sh-class: #8fbcbb;
  --sh-variable: #eceff4;
  --sh-identifier: #eceff4;
  --sh-constant: #b48ead;
  --sh-property: #88c0d0;
  --sh-key: #81a1c1;
  --sh-parameter: #d08770;
  --sh-operator: #81a1c1;
  --sh-punctuation: #eceff4;
  --sh-decorator: #d08770;
  --sh-boolean: #b48ead;
  --sh-null: #b48ead;
}
