/* One Dark (Atom) */
@import "./shared.css";

:root {
  --sh-comment: #5c6370;
  --sh-keyword: #c678dd;
  --sh-string: #98c379;
  --sh-number: #d19a66;
  --sh-regex: #56b6c2;
  --sh-function: #61afef;
  --sh-class: #e5c07b;
  --sh-variable: #abb2bf;
  --sh-identifier: #abb2bf;
  --sh-constant: #d19a66;
  --sh-property: #e06c75;
  --sh-parameter: #e06c75;
  --sh-operator: #56b6c2;
  --sh-punctuation: #abb2bf;
  --sh-decorator: #d19a66;
  --sh-boolean: #d19a66;
  --sh-null: #d19a66;
}
