/* One Dark (Atom) */
:root {
  --sh-comment: #5c6370;
  --sh-keyword: #c678dd;
  --sh-string: #98c379;
  --sh-number: #d19a66;
  --sh-regex: #56b6c2;
  --sh-function: #61afef;
  --sh-class: #e5c07b;
  --sh-variable: #abb2bf;
  --sh-identifier: #abb2bf;
  --sh-constant: #d19a66;
  --sh-property: #e06c75;
  --sh-parameter: #e06c75;
  --sh-operator: #56b6c2;
  --sh-punctuation: #abb2bf;
  --sh-decorator: #d19a66;
  --sh-boolean: #d19a66;
  --sh-null: #d19a66;
}
::highlight(sh-comment) {
  color: var(--sh-comment);
}
::highlight(sh-keyword) {
  color: var(--sh-keyword);
}
::highlight(sh-string) {
  color: var(--sh-string);
}
::highlight(sh-number) {
  color: var(--sh-number);
}
::highlight(sh-regex) {
  color: var(--sh-regex);
}
::highlight(sh-function) {
  color: var(--sh-function);
}
::highlight(sh-class) {
  color: var(--sh-class);
}
::highlight(sh-variable) {
  color: var(--sh-variable);
}
::highlight(sh-identifier) {
  color: var(--sh-identifier);
}
::highlight(sh-constant) {
  color: var(--sh-constant);
}
::highlight(sh-property) {
  color: var(--sh-property);
}
::highlight(sh-parameter) {
  color: var(--sh-parameter);
}
::highlight(sh-operator) {
  color: var(--sh-operator);
}
::highlight(sh-punctuation) {
  color: var(--sh-punctuation);
}
::highlight(sh-decorator) {
  color: var(--sh-decorator);
}
::highlight(sh-boolean) {
  color: var(--sh-boolean);
}
::highlight(sh-null) {
  color: var(--sh-null);
}
