/* Solarized Light */
:root {
  --sh-comment: #93a1a1;
  --sh-keyword: #859900;
  --sh-string: #2aa198;
  --sh-number: #d33682;
  --sh-regex: #2aa198;
  --sh-function: #268bd2;
  --sh-class: #b58900;
  --sh-variable: #657b83;
  --sh-identifier: #657b83;
  --sh-constant: #d33682;
  --sh-property: #268bd2;
  --sh-parameter: #cb4b16;
  --sh-operator: #859900;
  --sh-punctuation: #657b83;
  --sh-decorator: #cb4b16;
  --sh-boolean: #d33682;
  --sh-null: #d33682;
}
::highlight(sh-comment) {
  color: var(--sh-comment);
}
::highlight(sh-keyword) {
  color: var(--sh-keyword);
}
::highlight(sh-string) {
  color: var(--sh-string);
}
::highlight(sh-number) {
  color: var(--sh-number);
}
::highlight(sh-regex) {
  color: var(--sh-regex);
}
::highlight(sh-function) {
  color: var(--sh-function);
}
::highlight(sh-class) {
  color: var(--sh-class);
}
::highlight(sh-variable) {
  color: var(--sh-variable);
}
::highlight(sh-identifier) {
  color: var(--sh-identifier);
}
::highlight(sh-constant) {
  color: var(--sh-constant);
}
::highlight(sh-property) {
  color: var(--sh-property);
}
::highlight(sh-parameter) {
  color: var(--sh-parameter);
}
::highlight(sh-operator) {
  color: var(--sh-operator);
}
::highlight(sh-punctuation) {
  color: var(--sh-punctuation);
}
::highlight(sh-decorator) {
  color: var(--sh-decorator);
}
::highlight(sh-boolean) {
  color: var(--sh-boolean);
}
::highlight(sh-null) {
  color: var(--sh-null);
}
