/* Solarized Light */
@import "./shared.css";

:root {
  --sh-comment: #93a1a1;
  --sh-keyword: #859900;
  --sh-control: #9aab2d;
  --sh-string: #2aa198;
  --sh-number: #d33682;
  --sh-regex: #2aa198;
  --sh-function: #268bd2;
  --sh-method: #4098d7;
  --sh-class: #b58900;
  --sh-variable: #657b83;
  --sh-identifier: #657b83;
  --sh-constant: #d33682;
  --sh-property: #268bd2;
  --sh-key: #2aa198;
  --sh-parameter: #cb4b16;
  --sh-operator: #859900;
  --sh-punctuation: #657b83;
  --sh-decorator: #cb4b16;
  --sh-boolean: #d33682;
  --sh-null: #d33682;
}
