/* Solarized Light */
@import "./shared.css";

:root {
  --sh-comment: #93a1a1;
  --sh-keyword: #859900;
  --sh-control: #d33682;
  --sh-string: #2aa198;
  --sh-number: #d33682;
  --sh-regex: #2aa198;
  --sh-function: #268bd2;
  --sh-method: #4098d7;
  --sh-class: #b58900;
  --sh-variable: #657b83;
  --sh-identifier: #657b83;
  --sh-constant: #d33682;
  --sh-property: #268bd2;
  --sh-key: #2aa198;
  --sh-parameter: #cb4b16;
  --sh-operator: #859900;
  --sh-punctuation: #657b83;
  --sh-decorator: #cb4b16;
  --sh-boolean: #d33682;
  --sh-null: #d33682;
  --sh-addition: #6b8e00;
  --sh-deletion: #dc322f;
  --sh-hunk: #268bd2;
  --sh-header: #6c71c4;
  /* Semantic text styles */
  --sh-text-bold: #859900;
  --sh-text-italic: #859900;
  --sh-text-underline: #859900;
  --sh-text-strikethrough: #93a1a1;
  /* Semantic code styles */
  --sh-code-inline: #2aa198;
  --sh-code-block: #2aa198;
  /* Semantic markup styles */
  --sh-markup-heading: #6c71c4;
  --sh-markup-quote: #93a1a1;
  --sh-markup-list: #657b83;
  --sh-markup-link: #268bd2;
  --sh-markup-image: #268bd2;
  /* Semantic syntax styles */
  --sh-syntax-delimiter: #657b83;
  --sh-syntax-marker: #657b83;
  --sh-syntax-escape: #268bd2;
}
