/* Tokyo Night */
@import "./shared.css";

:root {
  --sh-comment: #565f89;
  --sh-keyword: #bb9af7;
  --sh-control: #c7acf8;
  --sh-string: #9ece6a;
  --sh-number: #ff9e64;
  --sh-regex: #9ece6a;
  --sh-function: #7aa2f7;
  --sh-method: #89adf7;
  --sh-class: #e0af68;
  --sh-variable: #c0caf5;
  --sh-identifier: #c0caf5;
  --sh-constant: #ff9e64;
  --sh-property: #7dcfff;
  --sh-key: #7aa2f7;
  --sh-parameter: #e0af68;
  --sh-operator: #bb9af7;
  --sh-punctuation: #c0caf5;
  --sh-decorator: #e0af68;
  --sh-boolean: #ff9e64;
  --sh-null: #ff9e64;
}
